name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v3
      - name: All test
        run: |
          chmod +x ./test.bash
          ./test.bash
